{% extends "layout/main.twig" %}
{% block content %}

    <main>
        <!--? Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Blog</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--? Hero Area End-->
        <!--================Blog Area =================-->
        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">
                            {% if art is defined %}
                                {% for val in art %}
                                    <article class="blog_item">
                                        <div class="blog_item_img">
                                            <a class="card-img rounded-0" href="{{ row.url }}">
                                                <img src="{{ val.firstImg }}" alt="{{ row.judul }}">
                                            </a>
                                            <a href="#" class="blog_item_date">
                                                <h3>{{ val.publish | date("d") }}</h3>
                                                <p>{{ val.publish | date("M") }}</p>
                                            </a>
                                        </div>

                                        <div class="blog_details">
                                            <a class="d-inline-block"
                                               href="{{ baseUrl }}/detailblog?index={{ val.id }}">
                                                <h2>{{ val.judul }}</h2>
                                            </a>
                                            <p>{{ val.deskripsi }}</p>
                                            <ul class="blog-info-link">
                                                <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                                <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                            </ul>
                                        </div>
                                    </article>
                                {% endfor %}
                            {% endif %}
                            {# <nav class="blog-pagination justify-content-center d-flex"> #}
                            {# <ul class="pagination"> #}
                            {# <li class="page-item"> #}
                            {# <a href="#" class="page-link" aria-label="Previous"> #}
                            {# <i class="ti-angle-left"></i> #}
                            {# </a> #}
                            {# </li> #}
                            {# <li class="page-item"> #}
                            {# <a href="#" class="page-link">1</a> #}
                            {# </li> #}
                            {# <li class="page-item active"> #}
                            {# <a href="#" class="page-link">2</a> #}
                            {# </li> #}
                            {# <li class="page-item"> #}
                            {# <a href="#" class="page-link" aria-label="Next"> #}
                            {# <i class="ti-angle-right"></i> #}
                            {# </a> #}
                            {# </li> #}
                            {# </ul> #}
                            {# </nav> #}
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <form action="#">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder='Search Keyword'
                                                   onfocus="this.placeholder = ''"
                                                   onblur="this.placeholder = 'Search Keyword'">
                                            <div class="input-group-append">
                                                <button class="btns" type="button"><i class="ti-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                            type="submit">Search
                                    </button>
                                </form>
                            </aside>

                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title">Category</h4>
                                <ul class="list cat-list">
                                    {% if kategori is defined %}
                                        {% for row in kategori %}
                                            <li>
                                                <a href="#" class="d-flex">
                                                    <p>{{ row.nama }}</p>
                                                    <p> ({{ row.jumlah }})</p>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </aside>

                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title">Recent Post</h3>
                                {% if recenpost is defined %}
                                    {% for val in recenpost %}
                                        <div class="media post_item">
                                            <img src="file/artikel/" alt="post">
                                            <div class="media-body">
                                                <a href="single-blog.html">
                                                    <h3>{{ val.judul }}</h3>
                                                </a>
                                                {% if val.type == 'day' %}
                                                    <p>{{ val.publish | date("F, d Y") }}</p>
                                                {% else %}
                                                    <p>{{ val.publish }} jam yang lalu</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </aside>
                            <aside class="single_sidebar_widget tag_cloud_widget">
                                <h4 class="widget_title">Tag Clouds</h4>
                                <ul class="list">
                                    {% if kategori is defined %}
                                        {% for row in kategori %}
                                            <li>
                                                <a href="#">{{ row.nama }}</a>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </aside>
                            <aside class="single_sidebar_widget newsletter_widget">
                                <h4 class="widget_title">Newsletter</h4>

                                <form action="#">
                                    <div class="form-group">
                                        <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'Enter email'" placeholder='Enter email'
                                               required>
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                            type="submit">Subscribe
                                    </button>
                                </form>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->
    </main>

{% endblock %}