{% extends "layout/main.twig" %}
{% block content %}
     {% verbatim %}
<section id="top_banner">
    <div class="banner">
        <div class="inner text-center">
            <h2 class="text-white">Cari Berdasarkan no Registrasi</h2>
        </div>
    </div>
</section>

<section id="login-reg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 card">
<div class="col-md-12">
    <!-- form 1 -->
    <form class="form-horizontal" ng-if="view_form_1">
        <br>
        <strong>Masukan no Registrasi</strong>
        <br>
        <hr>
        <div class="form-group">
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="no registrasi" ng-model="noRegis" rows="10"></input>
            </div>
            <div class="col-sm-3">
            <button class="btn btn- btn-primary" ng-click="cariNoRegistrasi(noRegis)">
                Cari
            </button>
            </div>
        </div>




        <div class="card" ng-if="is_cari">

            <div class="card-body">
                <div class="table-responsive">
                    <table border="1" class="table table-striped table-hover table-bordered">

                        <thead>
                        <tr>

                            <th class="align-left">No Register</th>
                            <th class="align-left">Deskripsi</th>
                            <th class="align-left">Status</th>


                        </tr>
                        </thead>
                        <tbody ng-repeat="row in kasus" >
                        <tr>


                            <td class="align-center"> {{ row['no_register'] }} </td>
                            <td class="align-center"> {{ row['deskripsi'] }} </td>
                            <td class="align-center"> {{ row['status'] }} </td>









                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


        <br>
        <br>
        <br>

    </form>
</div>
    </div>
        </div>
    </div>
</section>
 {% endverbatim %}
{% endblock %}
