{% extends "layout/main.twig" %}
{% block content %}
    <main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Watch Shop</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End-->
        <!--================Single Product Area =================-->
        <div class="product_image_area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="product_img_slide owl-carousel">
                            <div class="single_product_img">
                                <img src="assets/img/gallery/gallery1.png" alt="#" class="img-fluid">
                            </div>
                            <div class="single_product_img">
                                <img src="assets/img/gallery/gallery01.png" alt="#" class="img-fluid">
                            </div>
                            <div class="single_product_img">
                                <img src="assets/img/gallery/gallery1.png" alt="#" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        {% if data is defined %}
                            <div class="single_product_text text-center">
                                <h3>{{ data.nama_barang }}</h3>
                                <pdash>
                                    {{ data.deskripsi }}
                                </pdash>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!--================End Single Product Area =================-->
        <section class="subscribe_part section_padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="subscribe_part_content">
                            <h2>Get promotions & updates!</h2>
                            <p>Seamlessly empower fully researched growth strategies and interoperable internal or
                                “organic” sources credibly innovate granular internal .</p>
                            <div class="subscribe_form">
                                <input type="email" placeholder="Enter your mail">
                                <a href="#" class="btn_1">Subscribe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
