{% extends "layout/main.twig" %}
{% block content %}
  {% verbatim %}

  <section id="top_banner">
      <div class="banner">
          <div class="inner text-center">
              <h2 class="text-white">Form Pengaduan</h2>
          </div>
      </div>
  </section>

  <section id="login-reg">
      <div class="container">
          <!-- Top content -->
          <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-12 card">
                <div class="col-ms-12">

                  <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-primary card-text-header text-white">
                        <span class="fa fa-comments"></span>  Pengaduan
                      </button>
                    </div>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn {{ view_form_2 || view_form_3 ? 'btn-primary' : 'btn-info' }} card-text-header">
                        <span class="fa fa-group"></span>  Isi Identitas
                      </button>
                    </div>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn {{ view_form_3 ? 'btn-primary' : 'btn-info' }} card-text-header">
                        <span class="fa fa-check"></span> Selesai
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <!-- form 1 -->
                  <form class="form-horizontal" ng-if="view_form_1">
                    <hr>
                    <div class="form-group">
                      <label class="control-label col-sm-2">Deskripsi:</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" placeholder="Jelaskan tindak kekerasan yang ingin Anda adukan" ng-model="form.kasus.deskripsi" rows="10"></textarea>
                      </div>
                    </div>

                    <br>
                    <br>
                    <br>

                    <div class="form-group">
                      <div class="col-sm-offset-9 col-sm-3">
                        <button class="btn btn-arrow-right btn-primary" ng-click="nextPage(1)">
                          Lanjutkan
                        </button>
                      </div>
                    </div>
                  </form>
                  <!-- form 1 - END -->

                  <!-- form 2 -->
                  <form class="form-horizontal text-left" ng-if="view_form_2">
                  <br>
<hr>
                    <br>
                    <strong>Keterangan Kasus</strong>
                    <br>
                    <hr>
                <div class="form-group row">
                    <label class="control-label col-sm-4 required">Pilih Instansi</label>
                    <div class="col-sm-8">

                        <ui-select ng-model="form.kasus.instansi" theme="bootstrap"
                                   class="w-100" ng-disabled="is_view">
                            <ui-select-match placeholder="Pilih Instansi">
                                {{$select.selected.nama}}
                            </ui-select-match>
                            <ui-select-choices repeat="val in listInstansi | filter : $select.search">
                                {{val.nama}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 required">Tanggal Kejadian</label>
                    <div class="col-sm-4">
                     <input type="date" on-keyup="bla" keys="[13]" class="form-control" placeholder="Tanggal Kejadian" ng-model="form.kasus.tgl_kejadian">



                    </div>
                </div>
                <hr>
                    <br>
                    <strong>Identitas Pelapor</strong>
                    <br>
                    <hr>
                    <div class="form-group">
                      <label class="control-label col-sm-4">NIK</label>
                      <div class="col-sm-8">
                        <input type="text"  on-keyup="bla" keys="[13]" class="form-control" placeholder="Masukkan NIK" ng-model="form.pelapor.nik">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-sm-4">Nama Lengkap</label>
                      <div class="col-sm-8">
                        <input type="text" on-keyup="bla" keys="[13]" class="form-control" placeholder="Masukkan Nama Lengkap" ng-model="form.pelapor.nama">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-sm-4">Tempat / Tanggal Lahir</label>
                      <div class="col-sm-4">
                        <input type="text"  on-keyup="bla" keys="[13]" class="form-control" placeholder="Tempat Lahir" ng-model="form.pelapor.tempat_lahir">
                      </div>
                      <div class="col-sm-4">
                        <input type="date" on-keyup="bla" keys="[13]" class="form-control" placeholder="Tanggal Lahir" ng-model="form.pelapor.tanggal_lahir">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-sm-4">Alamat</label>
                      <div class="col-sm-8">
                        <textarea class="form-control" placeholder="Alamat" ng-model="form.pelapor.alamat" rows="3"></textarea>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-sm-4">Kecamatan</label>
                      <div class="col-sm-6">
                        <select class="form-control" ng-model="form.pelapor.w_kecamatan_id" ng-change="getKelurahan(form.pelapor.w_kecamatan_id,'pelapor')">
                          <option value="">Pilih Kecamatan</option>
                          <option ng-repeat="val in listKecamatan" value="{{val.id}}">{{ val.kecamatan }}</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-sm-4">Kelurahan</label>
                      <div class="col-sm-6">
                        <select class="form-control" ng-model="form.pelapor.w_kelurahan_id">
                          <option value="">Pilih Kelurahan</option>
                          <option ng-repeat="val in listKelurahanPelapor" value="{{val.id}}">{{ val.kelurahan }}</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-sm-4">Jenis Kelamin</label>
                      <div class="col-sm-8">

                          <div class="btn-group">
                            <label class="btn btn-sm {{ form.pelapor.jenis_kelamin == 'L' ? 'btn-primary' : 'btn-info' }}" ng-click="form.pelapor.jenis_kelamin = 'L'">
                                <i class="fa fa-check text-white" ng-if="form.pelapor.jenis_kelamin == 'L'"></i>
                                Laki - Laki
                            </label>
                            <label class="btn btn-sm  {{ form.pelapor.jenis_kelamin == 'P' ? 'btn-primary' : 'btn-info' }}" ng-click="form.pelapor.jenis_kelamin = 'P'">
                              <i class="fa fa-check text-white" ng-if="form.pelapor.jenis_kelamin == 'P'"></i>
                                Perempuan
                            </label>
                          </div>

                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-sm-4">Agama</label>
                      <div class="col-sm-6">
                        <select class="form-control" ng-model="form.pelapor.agama">
                          <option value=""> Pilih Agama </option>
                          <option value="Islam"> Islam</option>
                          <option value="Kristen">Kristen</option>
                          <option value="Katolik">Katolik</option>
                          <option value="Hindu">Hindu</option>
                          <option value="Budha">Budha</option>
                          <option value="Khonghucu">Khonghucu</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-sm-4">Nomor Telepon</label>
                      <div class="col-sm-6">
                        <input on-keyup="bla" keys="[13]" type="text" class="form-control" placeholder="Nomor Telepon" ng-model="form.pelapor.telepon">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-sm-4">Alamat Email</label>
                      <div class="col-sm-6">
                        <input on-keyup="bla" keys="[13]" type="text" class="form-control" placeholder="Alamat Email" ng-model="form.pelapor.email">
                      </div>
                    </div>




<br>



   <hr>

                     <br>
                    <strong>Identitas Korban</strong>
                    <br>
                    <hr>



                    <div class="form-group row">
                    <label class="control-label col-sm-4 required">Kategori Korban</label>
                    <div class="col-sm-3">
                        <div class="btn-group">
                            <label class="btn btn-sm {{ form.korban.kategori_korban == '1' ? 'btn-primary' : 'btn-info' }}"  ng-click="form.korban.kategori_korban = '1'">
                                <i class="fa fa-check ng-scope" ng-if="form.korban.kategori_korban == '1'"></i>
                                Jiwa
                            </label>
                            <label class="btn btn-sm {{ form.korban.kategori_korban == '2' ? 'btn-primary' : 'btn-info' }}" ng-click="form.korban.kategori_korban = '2'" >
                                <i class="fa fa-check ng-scope" ng-if="form.korban.kategori_korban == '2'"></i>
                                Non Jiwa
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-sm-4">NIK</label>
                    <div class="col-sm-6">
                        <input on-keyup="bla" keys="[13]" type="text" class="form-control form-control-sm" ng-model="form.korban.nik" maxlength="16"
                               ng-disabled="is_view"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 required">Nama</label>
                    <div class="col-sm-8">
                        <input on-keyup="bla" keys="[13]" type="text" class="form-control form-control-sm" ng-model="form.korban.nama"
                               ng-disabled="is_view"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 required">Status Tanggal Lahir</label>
                    <div class="col-sm-8">
                        <div class="radio">
                            <label>
                                <input on-keyup="bla" keys="[13]" type="radio" name="is_tanggal_lahir" ng-model="form.korban.is_tanggal_lahir" value="1"
                                       ng-disabled="is_view" checked>
                                Korban dapat menjelaskan tanggal kelahiran
                            </label>
                        </div>
                        <br>
                        <div class="radio">
                            <label>
                                <input on-keyup="bla" keys="[13]" type="radio" name="is_tanggal_lahir" ng-model="form.korban.is_tanggal_lahir" value="2"
                                       ng-disabled="is_view">
                                Korban lupa / tidak dapat menjelaskan tanggal kelahiran
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 required">Tempat / Tanggal Lahir</label>
                    <div class="form-group col-sm-4 pr-1">
                        <input  on-keyup="bla" keys="[13]" type="text" class="form-control form-control-sm" ng-model="form.korban.tempat_lahir"
                               ng-disabled="is_view"/>
                    </div>
                   <div class="col-sm-4">
                        <input  on-keyup="bla" keys="[13]" type="date" ng-change="hitungUsiaKorban(form.korban)" class="form-control" placeholder="Tanggal Lahir" ng-model="form.korban.tanggal_lahir">
                      </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4"></label>
                    <div class="col-sm-7 callout callout-blue bg-info">
                        Jika korban lupa / tidak dapat menjelaskan tanggal kelahiran, maka tanggal ini adalah perkiraan
                        tanggal kelahiran disesuaikan dengan status usia Anak atau Dewasa
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4">Usia</label>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <input on-keyup="bla" keys="[13]" type="text" class="form-control form-control-sm" ng-model="form.korban.usia"
                                   ng-disabled="is_view"/>

                        </div>
                    </div>
                     <label class="align-left col-sm-4">Tahun</label>

                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 required">Alamat</label>
                    <div class="col-sm-8">
                        <textarea type="text" class="form-control form-control-sm"
                                  ng-model="form.korban.alamat" rows="3" ng-disabled="is_view"></textarea>
                    </div>
                </div>

                 <div class="form-group">
                      <label class="control-label col-sm-4">Kecamatan</label>
                      <div class="col-sm-6">
                        <select class="form-control" ng-model="form.korban.w_kecamatan_id" ng-change="getKelurahan(form.korban.w_kecamatan_id,'korban')">
                          <option value="">Pilih Kecamatan</option>
                          <option ng-repeat="val in listKecamatan" value="{{val.id}}">{{ val.kecamatan }}</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-sm-4">Kelurahan</label>
                      <div class="col-sm-6">
                        <select class="form-control" ng-model="form.korban.w_kelurahan_id">
                          <option value="">Pilih Kelurahan</option>
                          <option ng-repeat="val in listKelurahanKorban" value="{{val.id}}">{{ val.kelurahan }}</option>
                        </select>
                      </div>
                    </div>


                  <div class="form-group">
                      <label class="control-label col-sm-4">Jenis Kelamin</label>
                      <div class="col-sm-8">

                          <div class="btn-group">
                            <label class="btn btn-sm {{ form.korban.jenis_kelamin == 'L' ? 'btn-primary' : 'btn-info' }}" ng-click="form.korban.jenis_kelamin = 'L'">
                                <i class="fa fa-check text-white" ng-if="form.korban.jenis_kelamin == 'L'"></i>
                                Laki - Laki
                            </label>
                            <label class="btn btn-sm  {{ form.korban.jenis_kelamin == 'P' ? 'btn-primary' : 'btn-info' }}" ng-click="form.korban.jenis_kelamin = 'P'">
                              <i class="fa fa-check text-white" ng-if="form.korban.jenis_kelamin == 'P'"></i>
                                Perempuan
                            </label>
                          </div>

                      </div>
                    </div>

                <div class="form-group row">
                    <label class="control-label col-sm-4">Agama</label>
                    <div class="col-sm-3 pr-1">
                        <select class="form-control form-control-sm ng-pristine ng-untouched ng-valid ng-empty"
                                id="agama" ng-disabled="is_view" ng-model="form.korban.agama">
                            <option value="" selected="selected">-- Please Select --</option>
                            <option value="Islam">Islam</option>
                            <option value="Kristen">Kristen</option>
                            <option value="Katholik">Katholik</option>
                            <option value="Hindu">Hindu</option>
                            <option value="Budha">Budha</option>
                            <option value="Khonghucu">Khonghucu</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4">Telepon</label>
                    <div class="col-sm-6">
                        <input  on-keyup="bla" keys="[13]" type="text" class="form-control form-control-sm" ng-model="form.korban.telepon"
                               ng-disabled="is_view"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 required">Pendidikan</label>
                    <div class="col-sm-3 pr-1">
                        <select class="form-control form-control-sm ng-pristine ng-untouched ng-valid ng-empty"
                                id="pendidikan_jenjang" ng-disabled="is_view" ng-model="form.korban.pendidikan_jenjang">
                            <option value="" selected="selected">-- Please Select --</option>
                            <option value="Tidak Sekolah">Tidak Sekolah</option>
                            <option value="PAUD">PAUD</option>
                            <option value="TK">TK</option>
                            <option value="SD">SD</option>
                            <option value="SMP">SMP</option>
                            <option value="SMA">SMA</option>
                            <option value="Perguruan Tinggi">Perguruan Tinggi</option>
                        </select>
                    </div>
                    <div class="col-md-5 pl-1">
                        <input on-keyup="bla" keys="[13]" type="text" class="form-control form-control-sm" ng-model="form.korban.pendidikan_det"
                               ng-disabled="is_view"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 required">Pekerjaan</label>
                    <div class="col-sm-3 pr-1">
                        <select class="form-control form-control-sm ng-pristine ng-untouched ng-valid ng-empty"
                                id="pekerjaan" ng-disabled="is_view" ng-model="form.korban.pekerjaan">
                            <option value="" selected="selected">-- Please Select --</option>
                            <option value="Pelajar">Pelajar</option>
                            <option value="Ibu Rumah Tangga">Ibu Rumah Tangga</option>
                            <option value="Swasta / Buruh">Swasta / Buruh</option>
                            <option value="PNS / TNI / POLRI">PNS / TNI / POLRI</option>
                            <option value="Pedagang / Tani / Nelayan">Pedagang / Tani / Nelayan</option>
                            <option value="Tidak Bekerja">Tidak Bekerja</option>
                        </select>
                        </select>
                    </div>
                    <div class="col-md-5 pl-1">
                        <input  on-keyup="bla" keys="[13]" type="text" class="form-control form-control-sm" ng-model="form.korban.pekerjaan_det"
                               ng-disabled="is_view"/>
                    </div>
                </div>



                <div class="form-group row">
                    <label class="control-label col-sm-4 required">Status Perkawinan</label>
                    <div class="col-sm-4">
                        <div class="btn-group">
                            <label class="btn btn-sm {{ form.korban.status_perkawinan == 'Kawin' ? 'btn-primary' : 'btn-info' }}" ng-click="form.korban.status_perkawinan = 'Kawin'" ng-disabled="is_view">
                                <i class="fa fa-check ng-scope" ng-if="form.korban.status_perkawinan == 'Kawin'"></i>
                                Kawin
                            </label>
                            <label class="btn btn-sm {{ form.korban.status_perkawinan == 'Belum Kawin' ? 'btn-primary' : 'btn-info' }}" ng-click="form.korban.status_perkawinan = 'Belum Kawin'" ng-disabled="is_view">
                                <i class="fa fa-check ng-scope" ng-if="form.korban.status_perkawinan == 'Belum Kawin'"></i>
                                Belum Kawin
                            </label>
                              <label class="btn btn-sm {{ form.korban.status_perkawinan == 'Cerai' ? 'btn-primary' : 'btn-info' }}" ng-click="form.korban.status_perkawinan = 'Cerai'" ng-disabled="is_view">
                                <i class="fa fa-check ng-scope" ng-if="form.korban.status_perkawinan == 'Cerai'"></i>
                                Cerai
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 required">Difabel</label>
                    <div class="col-sm-3">
                        <div class="btn-group">

                         <label class="btn btn-sm {{ form.korban.is_difabel == '1' ? 'btn-primary' : 'btn-info' }}" ng-click="form.korban.is_difabel = '1'" ng-disabled="is_view">
                                <i class="fa fa-check ng-scope" ng-if="form.korban.is_difabel == '1'"></i>
                                Ya
                            </label>

                              <label class="btn btn-sm {{ form.korban.is_difabel == '2' ? 'btn-primary' : 'btn-info' }}" ng-click="form.korban.is_difabel = '2'" ng-disabled="is_view">
                                <i class="fa fa-check ng-scope" ng-if="form.korban.is_difabel == '2'"></i>
                                Tidak
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 required">KDRT</label>
                    <div class="col-sm-3">
                        <div class="btn-group">
                         <label class="btn btn-sm {{ form.korban.is_kdrt == '1' ? 'btn-primary' : 'btn-info' }}" ng-click="form.korban.is_kdrt = '1'" ng-disabled="is_view">
                                <i class="fa fa-check ng-scope" ng-if="form.korban.is_kdrt == '1'"></i>
                                Ya
                            </label>

                         <label class="btn btn-sm {{ form.korban.is_kdrt == '2' ? 'btn-primary' : 'btn-info' }}" ng-click="form.korban.is_kdrt = '2'" ng-disabled="is_view">
                                <i class="fa fa-check ng-scope" ng-if="form.korban.is_kdrt == '2'"></i>
                                Tidak
                            </label>

                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-sm-4 required">Tindak Kekerasan yang Dialami</label>
                    <div class="col-sm-8">

                        <ui-select ng-change="cekKekerasan(form.korban.kekerasan)" ng-model="form.korban.kekerasan" theme="bootstrap"
                                   class="w-100" ng-disabled="is_view" multiple>
                            <ui-select-match placeholder="Pilih Kategori Kekerasan">
                                {{$item.nama}}
                            </ui-select-match>
                            <ui-select-choices repeat="val in listKekerasan | filter : $select.search">
                                {{val.nama}}
                            </ui-select-choices>
                        </ui-select>

                    </div>
                </div>
                <div class="form-group row">

                    <label class="control-label col-sm-4">Kategori Trafficking</label>
                    <div class="col-sm-8">
                      <input ng-if="!is_trafficking" type="text" class="form-control form-control-sm" placeholder="hanya untuk tipe kekerasan trafficking" readonly
                        />
                     <ui-select ng-if="is_trafficking" ng-model="form.korban.trafficking" theme="bootstrap"
                                   class="w-100" ng-disabled="is_view" multiple>
                            <ui-select-match placeholder="Pilih Kategori Kekerasan">
                                {{$item.nama}}
                            </ui-select-match>
                            <ui-select-choices repeat="val in listTrafficking | filter : $select.search">
                                {{val.nama}}
                            </ui-select-choices>
                        </ui-select>
<!--                      <select class="form-control" ng-model="form.korban.trafficking"  >-->
<!--                          <option value="">Pilih Trafficking</option>-->
<!--                          <option ng-repeat="val in listTrafficking" value="{{val.id}}">{{ val.nama }}</option>-->
<!--                        </select>-->
                    </div>
                </div>

  <br>



   <hr>
                     <br>
                    <strong>Identitas Pelaku</strong>
                    <br>
                    <hr>


                <div class="form-group row">
                    <label class="control-label col-sm-4">NIK</label>
                    <div class="col-sm-6">
                        <input on-keyup="bla" keys="[13]" type="text" class="form-control form-control-sm" ng-model="form.pelaku.nik" maxlength="16"
                               ng-disabled="is_view"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 required">Nama</label>
                    <div class="col-sm-8">
                        <input on-keyup="bla" keys="[13]" type="text" class="form-control form-control-sm" ng-model="form.pelaku.nama"
                               ng-disabled="is_view"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-sm-4 required">Tempat / Tanggal Lahir</label>
                    <div class="form-group col-sm-4 pr-1">
                        <input on-keyup="bla" keys="[13]" type="text" class="form-control form-control-sm" ng-model="form.pelaku.tempat_lahir"
                               ng-disabled="is_view"/>
                    </div>
                   <div class="col-sm-4">
                        <input  on-keyup="bla" keys="[13]" type="date" ng-change="hitungUsiaPelaku(form.pelaku)"  class="form-control" placeholder="Tanggal Lahir" ng-model="form.pelaku.tanggal_lahir">
                      </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4"></label>
                    <div class="col-sm-7 callout callout-blue bg-info">
                        Jika korban lupa / tidak dapat menjelaskan tanggal kelahiran, maka tanggal ini adalah perkiraan
                        tanggal kelahiran disesuaikan dengan status usia Anak atau Dewasa
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4">Usia</label>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <input on-keyup="bla" keys="[13]" type="text" class="form-control form-control-sm" ng-model="form.pelaku.usia"
                                   ng-disabled="is_view"/>

                        </div>
                    </div>

                    <label class="align-left col-sm-4">Tahun</label>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 required">Alamat</label>
                    <div class="col-sm-8">
                        <textarea type="text" class="form-control form-control-sm"
                                  ng-model="form.pelaku.alamat" rows="3" ng-disabled="is_view"></textarea>
                    </div>
                </div>

                 <div class="form-group">
                      <label class="control-label col-sm-4">Kecamatan</label>
                      <div class="col-sm-6">
                        <select class="form-control" ng-model="form.pelaku.w_kecamatan_id" ng-change="getKelurahan(form.pelaku.w_kecamatan_id,'pelaku')">
                          <option value="">Pilih Kecamatan</option>
                          <option ng-repeat="val in listKecamatan" value="{{val.id}}">{{ val.kecamatan }}</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-sm-4">Kelurahan</label>
                      <div class="col-sm-6">
                        <select class="form-control" ng-model="form.pelaku.w_kelurahan_id">
                          <option value="">Pilih Kelurahan</option>
                          <option ng-repeat="val in listKelurahanPelaku" value="{{val.id}}">{{ val.kelurahan }}</option>
                        </select>
                      </div>
                    </div>


                  <div class="form-group">
                      <label class="control-label col-sm-4">Jenis Kelamin</label>
                      <div class="col-sm-8">

                          <div class="btn-group">
                            <label class="btn btn-sm {{ form.pelaku.jenis_kelamin == 'L' ? 'btn-primary' : 'btn-info' }}" ng-click="form.pelaku.jenis_kelamin = 'L'">
                                <i class="fa fa-check text-white" ng-if="form.pelaku.jenis_kelamin == 'L'"></i>
                                Laki - Laki
                            </label>
                            <label class="btn btn-sm  {{ form.pelaku.jenis_kelamin == 'P' ? 'btn-primary' : 'btn-info' }}" ng-click="form.pelaku.jenis_kelamin = 'P'">
                              <i class="fa fa-check text-white" ng-if="form.pelaku.jenis_kelamin == 'P'"></i>
                                Perempuan
                            </label>
                          </div>

                      </div>
                    </div>

                <div class="form-group row">
                    <label class="control-label col-sm-4">Agama</label>
                    <div class="col-sm-3 pr-1">
                        <select class="form-control form-control-sm ng-pristine ng-untouched ng-valid ng-empty"
                                id="agama" ng-disabled="is_view" ng-model="form.pelaku.agama">
                            <option value="" selected="selected">-- Please Select --</option>
                            <option value="Islam">Islam</option>
                            <option value="Kristen">Kristen</option>
                            <option value="Katholik">Katholik</option>
                            <option value="Hindu">Hindu</option>
                            <option value="Budha">Budha</option>
                            <option value="Khonghucu">Khonghucu</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4">Telepon</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-sm" ng-model="form.pelaku.telepon"
                               ng-disabled="is_view"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 required">Pendidikan</label>
                    <div class="col-sm-3 pr-1">
                        <select class="form-control form-control-sm ng-pristine ng-untouched ng-valid ng-empty"
                                id="pendidikan_jenjang" ng-disabled="is_view" ng-model="form.pelaku.pendidikan_jenjang">
                            <option value="" selected="selected">-- Please Select --</option>
                            <option value="Tidak Sekolah">Tidak Sekolah</option>
                            <option value="PAUD">PAUD</option>
                            <option value="TK">TK</option>
                            <option value="SD">SD</option>
                            <option value="SMP">SMP</option>
                            <option value="SMA">SMA</option>
                            <option value="Perguruan Tinggi">Perguruan Tinggi</option>
                        </select>
                    </div>
                    <div class="col-md-5 pl-1">
                        <input on-keyup="bla" keys="[13]" type="text" class="form-control form-control-sm" ng-model="form.pelaku.pendidikan_det"
                               ng-disabled="is_view"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 required">Pekerjaan</label>
                    <div class="col-sm-3 pr-1">
                        <select class="form-control form-control-sm ng-pristine ng-untouched ng-valid ng-empty"
                                id="pekerjaan" ng-disabled="is_view" ng-model="form.pelaku.pekerjaan">
                            <option value="" selected="selected">-- Please Select --</option>
                            <option value="Pelajar">Pelajar</option>
                            <option value="Ibu Rumah Tangga">Ibu Rumah Tangga</option>
                            <option value="Swasta / Buruh">Swasta / Buruh</option>
                            <option value="PNS / TNI / POLRI">PNS / TNI / POLRI</option>
                            <option value="Pedagang / Tani / Nelayan">Pedagang / Tani / Nelayan</option>
                            <option value="Tidak Bekerja">Tidak Bekerja</option>
                        </select>
                        </select>
                    </div>
                    <div class="col-md-5 pl-1">
                        <input  on-keyup="bla" keys="[13]" type="text" class="form-control form-control-sm" ng-model="form.pelaku.pekerjaan_det"
                               ng-disabled="is_view"/>
                    </div>
                </div>



                <div class="form-group row">
                    <label class="control-label col-sm-4 required">Status Perkawinan</label>
                    <div class="col-sm-4">
                        <div class="btn-group">
                            <label class="btn btn-sm {{ form.pelaku.status_perkawinan == 'Kawin' ? 'btn-primary' : 'btn-info' }}" ng-click="form.pelaku.status_perkawinan = 'Kawin'" ng-disabled="is_view">
                                <i class="fa fa-check ng-scope" ng-if="form.pelaku.status_perkawinan == 'Kawin'"></i>
                                Kawin
                            </label>
                            <label class="btn btn-sm {{ form.pelaku.status_perkawinan == 'Belum Kawin' ? 'btn-primary' : 'btn-info' }}" ng-click="form.pelaku.status_perkawinan = 'Belum Kawin'" ng-disabled="is_view">
                                <i class="fa fa-check ng-scope" ng-if="form.pelaku.status_perkawinan == 'Belum Kawin'"></i>
                                Belum Kawin
                            </label>
                              <label class="btn btn-sm {{ form.pelaku.status_perkawinan == 'Cerai' ? 'btn-primary' : 'btn-info' }}" ng-click="form.pelaku.status_perkawinan = 'Cerai'" ng-disabled="is_view">
                                <i class="fa fa-check ng-scope" ng-if="form.pelaku.status_perkawinan == 'Cerai'"></i>
                                Cerai
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 required">Difabel</label>
                    <div class="col-sm-3">
                        <div class="btn-group">

                         <label class="btn btn-sm {{ form.pelaku.is_difabel == '1' ? 'btn-primary' : 'btn-info' }}" ng-click="form.pelaku.is_difabel = '1'" ng-disabled="is_view">
                                <i class="fa fa-check ng-scope" ng-if="form.pelaku.is_difabel == '1'"></i>
                                Ya
                            </label>

                              <label class="btn btn-sm {{ form.pelaku.is_difabel == '2' ? 'btn-primary' : 'btn-info' }}" ng-click="form.pelaku.is_difabel = '2'" ng-disabled="is_view">
                                <i class="fa fa-check ng-scope" ng-if="form.pelaku.is_difabel == '2'"></i>
                                Tidak
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 required">KDRT</label>
                    <div class="col-sm-3">
                        <div class="btn-group">
                         <label class="btn btn-sm {{ form.pelaku.is_kdrt == '1' ? 'btn-primary' : 'btn-info' }}" ng-click="form.pelaku.is_kdrt = '1'" ng-disabled="is_view">
                                <i class="fa fa-check ng-scope" ng-if="form.pelaku.is_kdrt == '1'"></i>
                                Ya
                            </label>

                         <label class="btn btn-sm {{ form.pelaku.is_kdrt == '2' ? 'btn-primary' : 'btn-info' }}" ng-click="form.pelaku.is_kdrt = '2'" ng-disabled="is_view">
                                <i class="fa fa-check ng-scope" ng-if="form.pelaku.is_kdrt == '2'"></i>
                                Tidak
                            </label>

                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-sm-4 required">Kebangsaan</label>
                    <div class="col-sm-3">
                        <div class="btn-group">
                            <label class="btn btn-sm {{ form.pelaku.kebangsaan == 'WNI' ? 'btn-primary' : 'btn-info' }}" ng-click="form.pelaku.kebangsaan = 'WNI'" ng-disabled="is_view"  uib-btn-radio="'WNI'">
                                <i class="fa fa-check ng-scope" ng-if="form.pelaku.kebangsaan == 'WNI'"></i>
                                WNI
                            </label>
                            <label class="btn btn-sm btn-primary {{ form.pelaku.kebangsaan == 'WNA' ? 'btn-primary' : 'btn-info' }}" ng-click="form.pelaku.kebangsaan = 'WNA'" ng-disabled="is_view"  uib-btn-radio="'WNA'">
                                <i class="fa fa-check ng-scope" ng-if="form.pelaku.kebangsaan == 'WNA'"></i>
                                WNA
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4 required">Hubungan dengan Korban</label>
                    <div class="col-sm-4 pr-1">

                            <input on-keyup="bla" keys="[13]" type="text" class="form-control form-control-sm" ng-model="form.korban.nama"
                                   ng-disabled="1"/><br>

                    </div>
                    <div class="col-sm-4 pl-1">

                            <select class="form-control form-control-sm ng-pristine ng-untouched ng-valid ng-empty"
                                    id="hubungan_korban" ng-disabled="is_view" ng-model="form.hubungan">
                                <option value="" selected="selected">-- Please Select --</option>
                                <option value="Orang Tua">Orang Tua</option>
                                <option value="Keluarga / Saudara">Keluarga / Saudara</option>
                                <option value="Suami / Istri">Suami / Istri</option>
                                <option value="Tetangga">Tetangga</option>
                                <option value="Pacar / Teman">Pacar / Teman</option>
                                <option value="Guru">Guru</option>
                                <option value="Majikan">Majikan</option>
                                <option value="Rekan Kerja">Rekan Kerja</option>
                                <option value="Lainnya">Lainnya</option>
                            </select><br>

                    </div>
                </div>


                    <br>
                    <br>
                    <br>
                    <!-- end form -->

                    <div class="form-group">
                      <div class="col-sm-2 col-sm-offset-1">
                        <button class="btn btn-arrow-left btn-primary" ng-click="prevPage(2)">
                          Kembali
                        </button>
                      </div>
                      <div class="col-sm-offset-6 col-sm-3">
                        <button  button-spinner="loading"
                                    ng-disabled="loading" class="btn btn-arrow-right btn-primary" ng-click="nextPage(2,form)">
                          Lanjutkan
                        </button>
                      </div>
                    </div>

                  </form>
                  <!-- form 2 - END -->

                  <!-- form 3 -->
                  <form class="form-horizontal" ng-if="view_form_3">

                    <hr>

                    Terimakasih, pengaduan Anda akan segera kami proses.<br>
                    Silahkan cek email anda : <h5 style="bold">{{ email }}</h5> untuk mendapatkan no registrasi.
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <hr>

                    <div class="form-group">
                      <div class="col-sm-2 col-sm-offset-1">
                        <button class="btn btn-arrow-left btn-primary" ng-click="prevPage(3)">
                          Kembali
                        </button>
                      </div>
                      <div class="col-sm-offset-6 col-sm-3">
                        <button class="btn btn-arrow-right btn-success" ng-click="nextPage(3)">
                          Selesai
                        </button>
                      </div>
                    </div>

                  </form>
                  <!-- form 3 - END -->

                </div>

              </div>
            </div>

        </div>

      </div>
  </section>



  {% endverbatim %}
{% endblock %}
