<div class="animated fadeIn">
    <div ng-controller="lsiswaCtrl">
        <div class="card">
            <div class="card-header">
                <strong>Laporan Daftar Siswa</strong>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12">
                            <form name="landaform" novalidate="">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="filter.kelompok_sekolah">
                                                <option value="smp">SMP</option>
                                                <option value="sma">SMA</option>
                                                <option value="smk">SMK</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button class="btn btn-primary" ng-click="getLaporan(filter)">
                                                <i class="fa fa-search"></i>
                                                Tampilkan
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" ng-show="tampilkan">
            <div class="card-body" id="print">
                <div align="left">
                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <center>
                                <h2 class="header-laporan">LAPORAN DAFTAR SISWA</h2>
                                </br>
                            </center>
                            <hr/>
                        </div>

                        <div class="col-md-12">
                            <div ng-repeat="(key, row) in listSiswa">
                                <div class="table-responsive">
                                    <div class="col-md-6">
                                        Jurusan : <b>{{row.sekolah_nama}}</b>
                                    </div>
                                    <div class="col-md-6">
                                        Alamat : <b>{{row.sekolah_alamat}}</b>
                                    </div>
                                    <div class="col-md-6">
                                        Telepon : <b>{{row.sekolah_telepon}}</b>
                                    </div>
                                </div>

                                <table border="1" class="table table-hover table-bordered table-print">
                                    <thead>
                                    <tr align="center">
                                        <th>NIS</th>
                                        <th>Nama</th>
                                        <th>Tanggal Lahir</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-show="!isLoading" ng-repeat="val in row.listSiswa"
                                           ng-if="row.listSiswa.length>0">
                                    <tr>
                                        <td class="align-left">{{ val.siswa_nis }}</td>
                                        <td class="align-left">{{ val.siswa_nama }}</td>
                                        <td class="align-left">{{ val.siswa_tanggal_lahir }}</td>
                                    </tr>
                                    </tbody>
<!--                                    <tr ng-if="row.listMhs.length==0 || row.listMhs.length==undefined">-->
<!--                                        <td class="align-center" colspan="4">Tidak Ada Siswa</td>-->
<!--                                    </tr>-->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>