<div class="animated fadeIn">
    <div ng-controller="lpenjualanCtrl">
        <div class="card">
            <div class="card-header">
                <strong>Laporan Rekap Bulanan</strong>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12">
                            <form name="landaform" novalidate="">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                   is-open="opened.bulan"
                                                   ng-click="toggle($event, 'bulan')" ng-model="filter.bulan"
                                                   uib-datepicker-popup="MMMM yyyy"
                                                   datepicker-options="{minMode: 'month'}"
                                                   placeholder="Bulan">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="filter.kelompok_barang">
                                                <option ng-repeat="(key, row) in listBarang" value="{{ row.id }}">
                                                    {{ row.nama_barang }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button class="btn btn-primary" ng-click="getLaporan(filter)">
                                                <i class="fa fa-search"></i>
                                                Tampilkan
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" ng-show="tampilkan">
            <div class="card-body" id="print">
                <div align="left">
                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <center>
                                <h2 class="header-laporan">LAPORAN REKAP BULANAN  </h2>
                                </br>
                                <h3 class="header-laporan">Bulan {{filter.bulan | date:"MMMM yyyy"}} </h3>
                            </center>
                            <hr/>
                        </div>
                        <div class="table-responsive">
                            <table border="1" class="table table-hover table-bordered table-print">
                                <thead>
                                <tr align="center">
                                    <th rowspan="2">No</th>
                                    <th rowspan="2">Nama Barang</th>
                                    <th colspan="{{Tanggal.length}}">Bulan {{ filter.bulan | date:"MMMM yyyy" }}</th>
                                    <th rowspan="2">Total/Barang</th>
                                </tr>
                                <tr>
                                    <td ng-repeat="val in Tanggal">
                                        {{val | date: "dd"}}
                                    </td>
                                </tr>
                                </thead>
                                <tbody ng-show="!isLoading" ng-repeat="val in listpenjualan">
                                <tr>
                                    <td class="align-left">{{ $index + 1 }}</td>
                                    <td class="align-left">{{ val.nama_barang }}</td>
                                    <td ng-repeat="vals in val.listPenjualan">{{ vals }}</td>
                                    <td class="align-left">{{ barangBulan[val.m_barang_id] }}</td>
                                </tr>
                                </tbody>
                                <tr align="center">
                                    <td colspan="2">Jumlah</td>
                                    <td ng-repeat="vals in barangHari">{{vals}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>