<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">Menu</li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main">
                    <i class="icon-speedometer"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.mahasiswa">
                    <i class="icon-speedometer"></i>
                    Mahasiswa
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.m_sekolah">
                    <i class="icon-speedometer"></i>
                    Master Sekolah
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.m_kelas">
                    <i class="icon-speedometer"></i>
                    Kelas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.m_jurusan">
                    <i class="icon-speedometer"></i>
                    Jurusan
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.m_kategori">
                    <i class="icon-speedometer"></i>
                    Master Kategori
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.m_kategori_artikel">
                    <i class="icon-speedometer"></i>
                    Master Kategori Artikel
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.m_artikel">
                    <i class="icon-speedometer"></i>
                    Master Artikel
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.m_barang">
                    <i class="icon-speedometer"></i>
                    Master Barang
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.m_customer">
                    <i class="icon-speedometer"></i>
                    Master Customer
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.m_supplier">
                    <i class="icon-speedometer"></i>
                    Master Supplier
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="transaksi.t_kelompok_kelas">
                    <i class="icon-speedometer"></i>
                    Kelompok Kelas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="transaksi.t_pembelian">
                    <i class="icon-speedometer"></i>
                    Transaksi Pembelian
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="transaksi.t_penjualan">
                    <i class="icon-speedometer"></i>
                    Transaksi Penjualan
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="laporan.l_mahasiswa">
                    <i class="icon-speedometer"></i>
                    Daftar Mahasiswa
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="laporan.l_jurusan">
                    <i class="icon-speedometer"></i>
                    Daftar Jurusan
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="laporan.l_siswa">
                    <i class="icon-speedometer"></i>
                    Laporan Daftar Siswa
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="laporan.l_penjualan">
                    <i class="icon-speedometer"></i>
                    Laporan Rekap Bulanan
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="laporan.l_penjualanbarang">
                    <i class="icon-speedometer"></i>
                    Laporan Total Rekap Bulanan
                </a>
            </li>

            <li class="nav-title" ng-if="user.m_roles_id != 4">Pengaturan</li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('pengguna')}"
                ng-if="user.akses.pengguna_akses || user.akses.pengguna_user">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('pengguna')}" href="#">
                    <i class="fa fa-user-o"></i>
                    User Login
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" ng-if="user.akses.pengguna_akses">
                        <a class="nav-link" ui-sref-active="active" ui-sref="pengguna.akses">
                            <i class="icon-cursor"></i>
                            Hak Akses
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.pengguna_user">
                        <a class="nav-link" ui-sref-active="active" ui-sref="pengguna.user">
                            <i class="icon-cursor"></i>
                            Pengguna
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
