<div class="animated fadeIn">
    <div ng-controller="lmahasiswaCtrl">
        <div class="card">
            <div class="card-header">
                <strong>Laporan Daftar Mahasiswa</strong>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12">
                            <form name="landaform" novalidate="">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="filter.kelompok_jurusan">
                                                <option ng-repeat="(key, row) in listJurusan" value="{{ row.id }}">
                                                    {{ row.nama }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button class="btn btn-primary" ng-click="getLaporan(filter)">
                                                <i class="fa fa-search"></i>
                                                Tampilkan
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" ng-show="tampilkan">
            <div class="card-body" id="print">
                <div align="left">
                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <center>
                                <h2 class="header-laporan">LAPORAN DAFTAR MAHASISWA</h2>
                                </br>
                            </center>
                            <hr/>
                        </div>
                        <div class="table-responsive">
                            <table border="1" class="table table-hover table-bordered table-print">
                                <thead>
                                <tr align="center">
                                    <th>No</th>
                                    <th>Jurusan</th>
                                    <th>Kelas</th>
                                    <th>NIM</th>
                                    <th>Nama</th>
                                    <th>Tanggal Lahir</th>
                                </tr>
                                </thead>
                                <tbody ng-show="!isLoading" ng-repeat="val in listMahasiswa">
                                <tr>
                                    <td class="align-left">{{ $index + 1 }}</td>
                                    <td class="align-left">{{ val.nama_jurusan }}</td>
                                    <td class="align-left">{{ val.kelas_nama }}</td>
                                    <td class="align-left">{{ val.mahasiswa_nim }}</td>
                                    <td class="align-left">{{ val.nama_mahasiswa }}</td>
                                    <td class="align-left">{{ val.mahasiswa_tanggal_lahir }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>