<div class="animated fadeIn">
    <div ng-controller="martikelCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Artikel</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">Judul Artikel</label>
                                        <div class="col-sm-2">
                                            <input st-search="m_artikel.judul" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Judul"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Status</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm"
                                                    st-search="m_artikel.is_deleted">
                                                <option value="0">Aktif</option>
                                                <option value="1">Terhapus</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-left">No</th>
                            <th class="align-left">Kategori</th>
                            <th class="align-left">Judul</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ $index + 1 }}</td>
                            <td class="align-left">{{ row.kategori_artikel }}</td>
                            <td class="align-left">{{ row.judul }}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0"
                                            ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0"
                                            ng-click="trash(row);"></button>
                                    <button type="button" class="btn btn-warning fa fa-refresh"
                                            ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>
                    {{ formtittle }}
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-8 border-right border-secondary pt-1 pb-1">
                            <input type="text" class="form-control form-control-sm mb-2" ng-change="slugify(form.judul)"
                                   ng-model="form.judul" ng-disabled="is_view" placeholder="Ketikkan Judul Artikel"/>

                            <div text-angular ng-model="form.isi_artikel"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <ui-select ng-model="form.m_kategori_artikel_id" theme="bootstrap">
                                    <ui-select-match placeholder="Ketik Kategori Artikel">
                                        {{$select.selected.nama}}
                                    </ui-select-match>
                                    <ui-select-choices position="down" refresh="cariKategori($select.search)"
                                                       repeat="vals in listArtikel | filter : $select.search">
                                        {{vals.nama}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group">
                                    <textarea class="form-control form-control-sm" ng-model="form.deskripsi" ng-disabled="is_view" placeholder="Deskripsi"/>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm"
                                           is-open="opened.publish" ng-disabled="is_view"
                                           ng-click="toggle($event, 'publish')"
                                           ng-model="form.publish"
                                           uib-datepicker-popup="dd MMMM yyyy"
                                           datepicker-options="{minMode: 'day'}"
                                           placeholder="Tanggal">
                                    <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
