<div class="animated fadeIn">
    <div ng-controller="lpenjualanbarangCtrl">
        <div class="card">
            <div class="card-header">
                <strong>Laporan Total Rekap Bulanan</strong>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12">
                            <form name="landaform" novalidate="">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="input-group-append">
                                            <input type="text" class="form-control"
                                                   is-open="opened.bulan"
                                                   ng-click="toggle($event, 'bulan')" ng-model="filter.bulan"
                                                   uib-datepicker-popup="MMMM yyyy"
                                                   datepicker-options="{minMode: 'month'}"
                                                   placeholder="Bulan">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="filter.kelompok_customer">
                                                <option ng-repeat="(key, row) in listCustomer" value="{{ row.id }}">
                                                    {{ row.nama_customer }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="filter.kelompok_barang">
                                                <option ng-repeat="(key, row) in listBarang" value="{{ row.id }}">
                                                    {{ row.nama_barang }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button class="btn btn-primary" ng-click="getLaporan(filter)">
                                                <i class="fa fa-search"></i>
                                                Tampilkan
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" ng-show="tampilkan">
            <div class="card-body" id="print">
                <div align="left">
                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <center>
                                </br>
                                <h2 class="header-laporan">LAPORAN PENJUALAN PER BULAN </h2>
                                <h5>{{filter.bulan | date:"MMMM yyyy"}}</h5>
                            </center>
                            <hr/>
                        </div>

                        <div class="col-md-12">

                            <div class="btn-group pull-right">
                                <button class="btn btn-outline-primary btn-sm pull-right" ng-click="view(1, 0)">
                                    <i class="fa fa-file"></i>
                                    Excel
                                </button>
                                <button class="btn btn-outline-primary btn-sm pull-right" ng-click="view(0, 1)">
                                    <i class="fa fa-print"></i>
                                    Print
                                </button>
                            </div>
                            <br>
                            <br>
                            <div class="table-responsive">
                            </div>

                            <table border="1" class="table table-hover table-bordered table-print">
                                <thead>
                                <tr align="center">
                                    <th>No</th>
                                    <th>Tanggal</th>
                                    <th>Customer</th>
                                    <th>Nama Barang</th>
                                    <th>Jumlah</th>
                                    <th>Satuan</th>
                                    <th>Harga Satuan</th>
                                    <th>Sub Total</th>
                                </tr>
                                </thead>
                                <tbody ng-show="!isLoading" ng-repeat="val in Rincian">
                                <tr>
                                    <td class="align-left">{{ $index + 1 }}</td>
                                    <td class="align-left">{{ val.penjualan_tanggal }}</td>
                                    <td class="align-left">{{ val.customer_nama }}</td>
                                    <td class="align-left">{{ val.barang_nama }}</td>
                                    <td class="align-left">{{ val.jumlah_barang }}</td>
                                    <td class="align-left">{{ val.barang_satuan }}</td>
                                    <td class="align-left">{{ val.harga_satuan }}</td>
                                    <td class="align-left">{{ val.SubTotal }}</td>
                                </tr>
                                </tbody>
                                <tr>
                                    <td class="align-right" colspan="3">
                                        Total
                                    </td>
                                    <td class="align-left">

                                    </td>
                                    <td class="align-left">
                                        {{TotalS.jumlahbarang}}
                                    </td>
                                    <td class="align-right">

                                    </td>
                                    <td class="align-right">

                                    </td>
                                    <td class="align-left">
                                        {{TotalS.totalhrg}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>