<link href="{{ css}}?t=123" rel="stylesheet" type="text/css"/>
<style type="text/css">
    table {
/*        display: table-cell;*/
        border-collapse: collapse;
        width: 100%;
    }

    .text-uppercase {
        text-transform: uppercase;
    }

    .bg-green {
        background-color: #4dbd74 !important;
    }

    .bg-yellow {
        background-color: #ffc107 !important;
    }

    @media print {
        .bg-green {
            background-color: #4dbd74 !important;
            -webkit-print-color-adjust: exact;
        }

        .bg-yellow {
            background-color: #ffc107 !important;
            -webkit-print-color-adjust: exact;
        }
    }
</style>
<div class="card-body" id="print">
    <div align="left">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <center class="header-smaller">
                    <h5 class="header-laporan header-smaller" style="margin-bottom: 0px">
                       REKAP PENJUALAN PER BULAN
                    </h5>
                    <h5 class="header-laporan header-smaller text-uppercase" style="margin-top: 0px">
                        {{ month.bulan | date('F Y') }}
                    </h5>
                    </center>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table-smaller" style="border-collapse: collapse; font-size: 13px;">
                <thead>
                <tr>
                    <th align="center">No</th>
                    <th align="center">Tanggal</th>
                    <th align="center">Nama Customer</th>
                    <th align="center">Nama Barang</th>
                    <th align="center">Jumlah</th>
                    <th align="center">Satuan</th>
                    <th align="center">Harga</th>
                    <th align="center">SubTotal</th>
                </tr>
                </thead>
                <tbody>
                {% if data is defined %}
                    {% for key, val in data %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ val.penjualan_tanggal }}</td>
                            <td>{{ val.customer_nama }}</td>
                            <td>{{ val.barang_nama }}</td>
                            <td>{{ val.jumlah_barang }}</td>
                            <td>{{ val.barang_satuan }}</td>
                            <td>{{ val.harga_satuan }}</td>
                            <td>{{ val.SubTotal }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="bg-green" align="right">
                            TOTAL
                        </td>
                        <td class="bg-green" align="right"> </td>
                        <td class="bg-green" align="right"> </td>
                        <td class="bg-green" align="right"> </td>
                        <td class="bg-green" align="left">{{ total.jumlahbarang | number_format }}</td>
                        <td class="bg-green" align="right"> </td>
                        <td class="bg-green" align="right"></td>
                        <td class="bg-green" align="left">{{ total.totalhrg | number_format(2, '.', ',') }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>
