<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sun Swalayan</title>
    <meta name="description" content="Sun Swalayan Tempat Belanja Terlengkap Untuk Kebutuhan Rumah Tangga Anda">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- For Google -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sun Swalayan Tempat Belanja Terlengkap Untuk Kebutuhan Rumah Tangga Anda" />
    <meta name="keywords" content="Swalayan" />
    <meta name="title" content="Sun Swalayan" />
    <meta name="author" content="Swalayan" />
    <meta name="publisher" content="Sun Swalayan" />
    <meta name="copyright" content="info@sunswalayan.co.id" />
    <meta name="application-name" content="Sun Swalayan" />

    <!-- For Facebook -->
    <meta property="og:title" content="Sun Swalayan" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Sun Swalayan Tempat Belanja Terlengkap Untuk Kebutuhan Rumah Tangga Anda" />

    {# memanggil css #}
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/flaticon.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/slicknav.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/animate.min.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/themify-icons.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/slick.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/nice-select.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/style.css">
    {# <link rel="stylesheet" href="{{ baseUrl}}/assets/scss/font-awesome.min.css"> #}
    {# <link rel="stylesheet" href="{{ baseUrl}}/assets/scss/skin.css"> #}
    {# <link rel="stylesheet" href="{{ baseUrl}}/assets/scss/main.css"> #}
    {# <link rel="stylesheet" href="{{ baseUrl}}/assets/scss/bootstrap-directional-buttons.css"> #}

    {# memanggil library di app #}
    {# <link rel="stylesheet" href="{{ baseUrl}}/app/library/angular-ui-select/dist/select.min.css" /> #}
    {# <link href="{{ baseUrl}}/app/library/angularjs-toaster/toaster.min.css" rel="stylesheet" /> #}
    {# <script src="{{ baseUrl}}/app/library/angular-ui-select/dist/select.min.js"></script> #}
    {# <script src="{{ baseUrl}}/app/library/angularjs-toaster/toaster.min.js"></script> #}
    {# <script src="{{ baseUrl}}/app/library/angular-animate/angular-animate.min.js"></script> #}

    {# memanggil image di asset #}
    {# <link rel="icon" type="image/png" href="{{ baseUrl}}/assets/img/logo-malang.png" sizes="32x32"> #}

    {# memanggil script di asset #}
    {# <script src="{{ baseUrl}}/assets/script/jquery.min.js"></script> #}
    {# <script src="{{ baseUrl}}/assets/script/bootstrap.min.js"></script> #}
    {# <script src="{{ baseUrl}}/assets/script/angular.min.js"></script> #}
    {# <script src="{{ baseUrl}}/assets/script/index.js"></script> #}
</head>


 <body>
{# <script type="text/javascript"> #}
{# function setErrorMessage(n){var e="";return angular.forEach(n,function(n,o){e=e+" - "+n+"<br>"}),e}$(document).ready(function(){$("body").on("keypress",".angka",function(n){var e=n.which?n.which:event.keyCode;return!(e>31&&(48>e||e>57)&&45!=e&&46!=e)}),$("body").on("focus",".angka",function(){0==$(this).val()&&$(this).val("")}),$("body").on("blur",".angka",function(){""==$(this).val()&&$(this).val(0)}),$("input").keypress(function(n){13==n.keyCode&&n.preventDefault()})}); #}
{# </script> #}
{% include 'layout/navbar.twig' %}

{% block content %}{% endblock %}

<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf sed do eiusmod tem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Quick Links</h4>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#"> Offers & Discounts</a></li>
                                <li><a href="#"> Get Coupon</a></li>
                                <li><a href="#">  Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>New Products</h4>
                            <ul>
                                <li><a href="#">Woman Cloth</a></li>
                                <li><a href="#">Fashion Accessories</a></li>
                                <li><a href="#"> Man Accessories</a></li>
                                <li><a href="#"> Rubber made Toys</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Support</h4>
                            <ul>
                                <li><a href="#">Frequently Asked Questions</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Report a Payment Issue</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer bottom -->
            <div class="row align-items-center">
                <div class="col-xl-7 col-lg-8 col-md-7">
                    <div class="footer-copy-right">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-4 col-md-5">
                    <div class="footer-copy-right f-right">
                        <!-- social -->
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                            <a href="#"><i class="fas fa-globe"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->

    <!-- JS -->

</footer>
<!--? Search model Begin -->
<div class="search-model-box">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-btn">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Searching key.....">
        </form>
    </div>
</div>
<!-- Search model end -->

 <!-- JS -->

<script src="{{ baseUrl }}/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{{ baseUrl }}/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="{{ baseUrl }}/assets/js/popper.min.js"></script>
<script src="{{ baseUrl }}/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="{{ baseUrl }}/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{{ baseUrl }}/assets/js/owl.carousel.min.js"></script>
<script src="{{ baseUrl }}/assets/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="{{ baseUrl }}/assets/js/wow.min.js"></script>
<script src="{{ baseUrl }}/assets/js/animated.headline.js"></script>
<script src="{{ baseUrl }}/assets/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="{{ baseUrl }}/assets/js/jquery.scrollUp.min.js"></script>
<script src="{{ baseUrl }}/assets/js/jquery.nice-select.min.js"></script>
<script src="{{ baseUrl }}/assets/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="{{ baseUrl }}/assets/js/contact.js"></script>
<script src="{{ baseUrl }}/assets/js/jquery.form.js"></script>
<script src="{{ baseUrl }}/assets/js/jquery.validate.min.js"></script>
<script src="{{ baseUrl }}/assets/js/mail-script.js"></script>
<script src="{{ baseUrl }}/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="{{ baseUrl }}/assets/js/plugins.js"></script>
<script src="{{ baseUrl }}/assets/js/main.js"></script>
</body>

</html>
