<div class="animated fadeIn">
    <div ng-controller="tpembelianCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Pembelian</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">Nama Supplier</label>
                                        <div class="col-sm-2">
                                            <input st-search="t_pembelian.m_supplier_id"
                                                   class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Nama Supplier"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-left">No</th>
                            <th class="align-left">Tanggal</th>
                            <th class="align-left">Total</th>
                            <th class="align-left">Nama Supplier</th>
                            <th class="align-left">Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ $index + 1 }}</td>
                            <td class="align-left">{{ row.tanggal | date:"dd MMM yyyy"}}</td>
                            <td class="align-left">{{ row.total }}</td>
                            <td class="align-left">{{ row.supplier_nama }}</td>
                            <td class="align-left">{{ row.status }}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-info fa fa-pencil"
                                            ng-click="update(row)" ng-disabled="row.status == 'tersimpan' "></button>
                                    <button type="button" class="btn btn-danger fa fa-trash"
                                            ng-click="delete(row)" ng-disabled="row.status == 'tersimpan' "></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>
                    {{ formtittle }}
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label-sm">Nama Supplier</label>
                                <div class="col-md-9">
                                    <div class="btn-group" style="width: 100%; float: right">
                                        <ui-select class="ui-sm ui-select-container" ng-model="form.m_supplier_id" ng-disabled="is_view"
                                                   theme="bootstrap" style="width: 100%">
                                            <ui-select-match placeholder="Ketik Supplier">
                                                {{$select.selected.nama_supplier}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="cariSupplier($select.search)"
                                                               repeat="vals in listSupplier | filter : $select.search">
                                                {{vals.nama_supplier}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <div class="btn btn-sm btn-info" ng-if="is_view != undefined && form.m_supplier_id"
                                             ng-click="ModalSupplier(form.m_supplier_id)">
                                            <i class="fa fa-pencil"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label-md">Telepon</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.m_supplier_id.no_telepon"
                                           ng-disabled="true"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label-md">Alamat</label>
                                <div class="col-md-9">
                                    <textarea type="text" class="form-control form-control-sm" ng-model="form.m_supplier_id.alamat_supplier"
                                           maxlength="255" rows="6" ng-disabled="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label-md">Tanggal</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sm"
                                               ng-click="toggle($event, 'tanggal')" is-open="opened.tanggal"
                                               uib-datepicker-popup="dd-MM-yyyy" ng-model="form.tanggal"
                                               ng-disabled="is_view"/>
                                        <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label-md">Total</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.total"
                                           maxlength="11" ng-disabled="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h6>Detail
                                    <button class="btn btn-sm btn-success" type="button" ng-click="ModalTambahBarang()"
                                            ng-disabled="is_view">
                                        <i class="fa fa-plus"></i>
                                        Tambah Barang
                                    </button>
                                </h6>
                            </div>
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="align-left">Nama Barang</th>
                                        <th class="align-left">Jumlah</th>
                                        <th class="align-left">Harga</th>
                                        <th class="align-left">Sub Total</th>
                                        <th class="align-center" style="width: 10px;">
                                            <button type="button" class="btn btn-success fa fa-plus"
                                                    ng-click="addDetail(listDetail)" ng-disabled="is_view"></button>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="v in listDetail">
                                        <td class="align-left">
                                            <ui-select ng-model="v.m_barang_id" ng-disabled="is_view" theme="bootstrap">
                                                <ui-select-match placeholder="Ketik Barang">
                                                    {{$select.selected.nama_barang}}
                                                </ui-select-match>
                                                <ui-select-choices position="down" refresh="cariBarang($select.search)"
                                                                   repeat="vals in listBarang | filter : $select.search">
                                                    {{vals.nama_barang}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="align-left">
                                            <input type="text" class="form-control form-control-sm" maxlength="11"
                                                   ng-model="v.jumlah" ng-change="getSubTotal()" ng-disabled="is_view"/>
                                        </td>
                                        <td class="align-left">
                                            <input type="text" class="form-control form-control-sm" maxlength="11"
                                                   ng-model="v.harga" ng-change="getSubTotal()" ng-disabled="is_view"/>
                                        </td>
                                        <td class="align-left">
                                            <input type="text" class="form-control form-control-sm" maxlength="11"
                                                   ng-model="v.SubTotal" ng-disabled="true"/>
                                        </td>
                                        <td class="align-center">
                                            <button type="button" class="btn btn-danger fa fa-minus"
                                                    ng-click="removeDetail(listDetail, $index)"
                                                    ng-disabled="is_view"></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="align-right" colspan="3">
                                            Total
                                        </td>
                                        <td class="align-right">
                                            <input type="text" class="form-control form-control-sm" maxlength="11"
                                                   ng-model="form.total" ng-disabled="true"/>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-danger btn-sm" ng-click="unpost(form)"
                            ng-if="is_view && form.status != 'draft'">
                        <i class="fa fa-refresh"></i>
                        &nbsp;Unpost
                    </button>
                    <button type="submit" class="btn btn-success btn-sm" ng-if="!is_view" button-spinner="loading"
                            ng-disabled="loading" ng-click="save(form, 'draft')">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan & Draft
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-if="!is_view" button-spinner="loading"
                            ng-disabled="loading" ng-click="save(form, 'tersimpan')">
                        <i class="fa fa-check"></i>
                        &nbsp;Simpan & Posting
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
